@import "tailwindcss";
@import "tw-animate-css";

/* Align text to left and move date picker icon to the right */
input[type="date"] {
  text-align: left;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px; /* adjust spacing */
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge */
}
